*

!.config
!.config**

!.config/nvim
!.config/nvim**

!.config/tmux
!.config/tmux**

!.config/hypr
!.config/hypr**

!assets/
!assets/**
!.gitignore
!.zshrc
!README.md

.cfg

.config/nvim/lazy-lock.json

.config/tmux/plugins

*.swp
