*

!.config/eww
!.config/eww**

!.config/nvim
!.config/nvim**

!.config/tmux
!.config/tmux**

!assets/
!assets/**
!.gitignore
!.zshrc
!README.md

.cfg
.config/JetBrains
.config/gh
.config/jgit
.config/procps

.config/nvim/lazy-lock.json

.config/tmux/plugins
