*

!.config/eww
!.config/eww**

!.config/hypr
!.config/hypr**

!.config/kitty
!.config/kitty*

!.config/nvim
!.config/nvim**

!.config/tmux
!.config/tmux**

!.config/uwsm
!.config/uwsm**

!assets/
!assets/**
!.gitignore
!.zshrc
!README.md

.cfg
.config/JetBrains
.config/gh
.config/jgit
.config/procps

.config/nvim/lazy-lock.json

.config/tmux/plugins
