[Desktop Entry]
Type=Service
MimeType=inode/directory;
Actions=openKittyHere;
X-KDE-Priority=TopLevel

[Desktop Action openKittyHere]
TryExec=kitty
Exec=kitty tmux-create-or-attach %f
Name=Open Kitty Here
Icon=utilities-terminal
